:root {
  /* to change backgrounds, text color etc, change the hex values here! */
  --chat-message-color: #41464d;
  --chat-author-viewer-background-color: #41464d;
  --chat-author-member-background-color: #2ba640;
  --chat-author-moderator-background-color: #5e84f1;
  --chat-author-owner-background-color: #ffd600;
  --chat-author-owner-color: #41464d;
  /* exchange emoji below for "theming"? 🎃❄️🌸☀️ alternatively, provide your own img url, like this: url(https://placekitten.com/g/32/32) */
  --chat-background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>");
}

/* Hide everything unnecessary */
#input-panel,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-header-renderer,
#live-chat-banners,
yt-live-chat-banner-manager,
yt-live-chat-banner-renderer,
iron-pages,
#separator,
#fab-container,
.yt-reaction-control-panel-button-view-model,
#toast-container,
#ticker {
  display: none;
}

/* transparent background, hide scrollbar */
yt-live-chat-renderer,
html,
body,
#item-scroller {
  background-color: transparent;
  scrollbar-width: none;
}

#item-scroller::-webkit-scrollbar {
  display: none;
}

/* styling */
yt-live-chat-text-message-renderer {
  display: block;
  max-height: 600px;
  background-color: rgba(0, 0, 0, 0.0) !important;
  overflow: hidden;
  margin: -5px 0px 5px 0px !important;
}

yt-live-chat-text-message-renderer > #content {
  display: block !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip {
  z-index: 8;
  min-width: 100px;
  max-width: 240px;
  transform: translate(0px, 10px);
  position: relative;
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

yt-live-chat-text-message-renderer > yt-img-shadow#author-photo {
  z-index: 9;
  position: absolute;
  transform: translate(5px, 14px);
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip span#author-name {
  display: inline-block;
  padding: 4px !important;
  color: #e7e7e7 !important;
  padding-left: 35px !important;
  padding-right: 32px !important;
  font-size: 1.2em;
  min-width: 80px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #41464d !important;
  border-color: #e7e7e7;
  border: solid 2px !important;
  border-radius: 20px !important;
  white-space: nowrap;
  height: 32px;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip span#chat-badges{
  position: absolute;
  right: 0px;
  padding: 5px;
  padding-right: 10px;
  z-index: 10;
}
yt-live-chat-text-message-renderer yt-live-chat-author-chip span#author-name.member {
  background-color: var(--chat-author-member-background-color) !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip span#author-name.moderator {
  background-color: var(--chat-author-moderator-background-color) !important;
}

yt-live-chat-author-badge-renderer[type="moderator"]{
  display: none;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip span#author-name.owner {
  background-color: var(--chat-author-owner-background-color) !important;
  color: var(--chat-author-owner-color) !important;
}

yt-live-chat-text-message-renderer span#message {
  display: block;
  background: #e7e7e7 !important;
  color: #41464d !important;
  line-height: 1.2em !important;
  font-size: 1.2em;
  font-weight: 500;
  padding: 18px 5px 8px 15px !important;
  border-radius: 15px !important;
  border-color: #41464d;
  border: solid 2px !important;
  min-height: 24px;
  text-align: center left !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% + 7px) calc(100% + 17px) !important;
  background-image: var(--chat-background-image) !important;
}

a:link{
  color: cornflowerblue;
}

#menu, 
#timestamp,
yt-live-chat-action-panel-renderer,
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer,
#action-panel {
  display: none !important;
}
/* Wanau <3 */